.bg-container {
  background-color: #ffc2a0;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.todo-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border-width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.heading {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
